@using PetrSvihlik.Com.Models.ContentTypes
@model IEnumerable<Page>

<nav class="menu">
    <ul class="menu__list">
        @foreach (var item in Model.Where(n => n.ShowInNavigation))
        {
            <li class="menu__list-item">
                <a href="@IExecutionContext.Current.GetLink(item.Url == "/" ? "/" : $"pages/{item.Url}")" class="menu__list-item-link @(item.Url == ViewBag.ActiveMenuItem ? " active--exact  active" : "")">@item.Title</a>
            </li>
        }
    </ul>
    @await Html.PartialAsync("Shared/Sidebar/_Switcher")
</nav>
