@using PetrSvihlik.Com.Models.ViewModels
@using PetrSvihlik.Com.Models.ContentTypes
@model SidebarViewModel
<div class="sidebar">
    <div class="sidebar__inner">
        @await Html.PartialAsync("Shared/Sidebar/_Author", Model)
        @await Html.PartialAsync("Shared/Sidebar/_Menu", Model.Homepage.NavigationPages, new ViewDataDictionary(ViewData) { { nameof(Model.ActiveMenuItem), Model.ActiveMenuItem } })
        @await Html.PartialAsync("Shared/Sidebar/_Contacts", Model.Contacts)
        <div class="sidebar__copyright">
            @Model.Metadata.Copyright
        </div>
    </div>
</div>
