<div class="switch__container">
    <span class="switch__text">Night mode</span>
    <label class="switch">
        <input id="DarkModeSwitcher" type="checkbox" />
        <span class="slider" onClick="toggleDarkMode();" />
    </label>
</div>